:root {
  /* ===== Colors ===== */
  --light-color: #5001C4;
  --dark-bg-color: #140126;
  --primary-dark-bg-color: #693024;
  --secondary-dark-color: #260040;
  --btn-light-color: #640065;
  --btn-light-color-transparent: #64006580;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica Neue, sans-serif;
  background-color: var(--dark-bg-color) ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  display: none;
}

p{
  font-weight: lighter;
}

input{
  background-color: transparent;
  border: none;
  padding: 2vh 1.5vw;
  color: white;
}

input:focus{
  outline: none;
}

.bx{
  margin: 5px;
  font-size: larger;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid var(--btn-light-color);
}

@media (max-width: 720px) {
  *{
    font-size: small;
  }
  input{
    padding: 2vh 3vw;
  }
}